# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build

# Development
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Testing
coverage
.nyc_output

# OS
.DS_Store
Thumbs.db

# Docs
*.md
!README.md
docs
